@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")
<section class="section">

    <div class="container">


        <div class="col-md-12">
            <article>
                @Html.Action("Render", "DonationFormSurface")
            </article>
        </div>
    </div>

</section>

